
// STRUCTURE
// ============================================================

.outer {}
.inner {
	@include outer-container;
	@include media(min-width $mobile) {
		@include fill-parent;
		@include pad(3em 2em);
	}
	@include media(max-width $mobile) {
		@include pad(1em);
	}
}

// SECTIONS
// ============================================================

body {
	background: $grey;
	@include media(min-width $tablet) {
		margin: 2em;
	}
	@include media(max-width $tablet) {
		margin: 1em;
	}
}

.hero {
	@include span-columns(12);
	text-align: center;
}

.company {
	@include media(max-width $desktop) {
		text-align: center;
	}
	@include media(min-width $desktop) {
		@include span-columns(8);
		@include shift(2);
		@include margin(null null 4em);
	}
	@include margin(null null 2em);
	background: $white;
	box-shadow: 0 .2em 1em rgba(0,0,0,.15);
}

.company-logo {
	@include media(min-width $desktop) {
		@include span-columns(4);
	}
	@include media(max-width $desktop min-width $tablet) {
		@include span-columns(4);
		@include shift(4);
	}
	@include media(max-width $tablet min-width $landscape) {
		@include span-columns(6);
		@include shift(3);
	}
	@include media(max-width $landscape min-width $mobile) {
		@include span-columns(8);
		@include shift(2);
	}
	@include media(max-width $mobile) {
		@include span-columns(10);
		@include shift(1);
	}
}

.company-content {
	@include media(min-width $desktop) {
		@include span-columns(7);
		@include shift(1);
	}
	@include media(max-width $desktop min-width $tablet) {
		@include span-columns(6);
		@include shift(3);
	}
	@include media(max-width $tablet min-width $mobile) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media(max-width $mobile) {
		@include fill-parent;
	}
}

.company-title {
	@include margin(null null 2em);
}

.company-liz_caribbean {
	.company-border {
		@include company-card($liz-green);
	}
}

.company-black_eagle {
	.company-border {
		@include company-card($red);
	}
}

.footer {
	@include span-columns(12);
	text-align: center;
}

