
// VARIABLES
// ============================================================

$base-font-size:		16px;

$white:							#FFFFFF;
$blue:							#406180;
$red:								#F4511E;
$green:							#62E0CE;
$orange:						#FDA56C;
$grey:							darken($white,5);
$grey-dark:					#333;
$black:							#000;

$default-hover:			$blue;

$desktop:						1140px;
$tablet:						768px;
$landscape:					600px;
$mobile:						420px;
$mobile-xs:					320px;

$font-head:					'Work Sans', sans-serif;
$font-subhead:			'Oswald', sans-serif;
$font-body:    	 		'Work Sans', sans-serif;