html

	//- SETTINGS
	//- ============================================================
	include ./includes/settings
	
	//- HEAD
	//- ============================================================
	include ./includes/head
	
	body

		//- HEADER
		//- ============================================================
		include ./includes/header

		//- MAIN CONTENT
		//- ============================================================
		include ./includes/content-main

		//- FOOTER
		//- ============================================================
		include ./includes/footer